/* line 1, ../sass/partials/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ranchers';
  font-weight: 100;
  letter-spacing: 1px;
}

/* line 7, ../sass/partials/_fonts.scss */
h1, h2.pane-title {
  font-size: 45px;
  color: #2b93cd;
}

/* line 11, ../sass/partials/_fonts.scss */
h2 {
  font-size: 40px;
}

/* line 14, ../sass/partials/_fonts.scss */
h3 {
  font-size: 25px;
}

/* line 17, ../sass/partials/_fonts.scss */
h4 {
  font-size: 20px;
}

/* line 22, ../sass/partials/_fonts.scss */
p a {
  color: #fff;
  background-color: #b1529c;
  padding: 5px;
}

/* line 29, ../sass/partials/_fonts.scss */
* {
  font-family: 'Open Sans';
  font-weight: 300;
}

/* line 35, ../sass/partials/_fonts.scss */
fieldset {
  padding: 0;
  background-color: #fff;
  border: 0;
}

/* line 2, ../sass/partials/_desktop-layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/partials/_desktop-layout.scss */
h2.pane-title {
  display: none;
}

/* line 20, ../sass/partials/_desktop-layout.scss */
.inner {
  width: 960px;
  margin: auto;
  position: relative;
}

/* line 26, ../sass/partials/_desktop-layout.scss */
header#header {
  background: url("../i/navbar_rpt.png") repeat-x #ac87be 0 0;
  border-bottom: 10px solid #694879;
}
/* line 29, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 {
  display: inline;
  height: 65px;
  top: 0;
  position: absolute;
  right: 0;
}
/* line 35, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 {
  margin-top: 10px;
  float: right;
}
/* line 38, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 li:last-child {
  margin-right: 0;
}
/* line 42, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 li.active-trail a:first-child {
  background-color: #f7941e;
}
/* line 46, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 li {
  float: left;
  display: inline;
}
/* line 49, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 li a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
/* line 57, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 li a:hover,
header#header .pane-superfish-1 ul#superfish-1 li a.active {
  text-decoration: underline;
  background-color: #f7941e;
}
/* line 61, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 li ul {
  background-color: #2c95ce;
}
/* line 64, ../sass/partials/_desktop-layout.scss */
header#header .pane-superfish-1 ul#superfish-1 li ul li a {
  font-size: 14px;
  text-transform: none;
}
/* line 73, ../sass/partials/_desktop-layout.scss */
header#header #event-date {
  width: 351px;
  height: 239px;
  background: url("../i/eventdate.png") no-repeat 0 0 transparent;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 99;
}

/* line 88, ../sass/partials/_desktop-layout.scss */
.not-front #bodycontent .pane-page-content {
  padding-top: 50px!important;
}
/* line 90, ../sass/partials/_desktop-layout.scss */
.not-front #bodycontent .pane-page-content .pane-title {
  display: block;
}

/* line 98, ../sass/partials/_desktop-layout.scss */
.front #header {
  position: relative;
  background: url("../i/navbar_rpt.png") repeat-x #ac87be 0 0;
}
/* line 101, ../sass/partials/_desktop-layout.scss */
.front #header .pane-page-logo {
  z-index: 999;
  position: absolute;
}
/* line 105, ../sass/partials/_desktop-layout.scss */
.front #header .pane-superfish-1 {
  z-index: 99;
  background-color: #26739c;
  height: 50px;
}
/* line 110, ../sass/partials/_desktop-layout.scss */
.front #header .pane-page-logo {
  z-index: 10;
}
/* line 113, ../sass/partials/_desktop-layout.scss */
.front #header .pane-slideshows {
  z-index: 9;
  margin-left: -530px;
  margin-top: 0px;
}

/* line 125, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors {
  background-color: #a02484;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  padding: 40px 0;
  float: left;
  width: 100%;
  color: #fff;
}
/* line 131, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors h2 {
  display: block;
  color: #fff;
  margin-left: 20px;
}
/* line 136, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors {
  width: 960px;
  margin: auto;
}
/* line 139, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content {
  display: block;
}
/* line 143, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul li {
  list-style-type: none;
  display: inline;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}
/* line 149, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul li .field-content a {
  float: left;
  color: #fff;
  width: 148px;
  height: 148px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: -2px 7px 5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -2px 7px 5px rgba(0, 0, 0, 0.11);
  box-shadow: -2px 7px 5px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  position: relative;
}
/* line 163, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul li .field-content a img {
  position: absolute;
  top: 24px;
  left: 28px;
}
/* line 175, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul .field-content #BrightLemon {
  background-color: #005b82;
}
/* line 178, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul .field-content #ymbra {
  background-color: #0b0a08;
}
/* line 180, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul .field-content #ymbra img {
  top: 50px;
}
/* line 185, ../sass/partials/_desktop-layout.scss */
.pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul .field-content #Pulsant img, .pane-cod-sponsors .view-cod-sponsors .view-content .item-list ul .field-content #commerceguys img {
  top: 50px;
}

/* line 197, ../sass/partials/_desktop-layout.scss */
#location-map {
  height: 420px;
  width: 100%;
  background: url("../i/city_uni.jpg") repeat-x black center -300px;
  float: left;
  display: block;
  position: relative;
}
/* line 204, ../sass/partials/_desktop-layout.scss */
#location-map h2 {
  margin-left: 20px;
}
/* line 207, ../sass/partials/_desktop-layout.scss */
#location-map #info-bar {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: rgba(178, 226, 249, 0.8);
  background-image: -webkit-linear-gradient(bottom, #fdb040, #f8941e);
  background-image: -moz-linear-gradient(bottom, #fdb040, #f8941e);
  background-image: -o-linear-gradient(bottom, #fdb040, #f8941e);
  background-image: linear-gradient(to top, #fdb040, #f8941e);
  color: #fff;
  padding-top: 50px;
}
/* line 221, ../sass/partials/_desktop-layout.scss */
#location-map #info-bar p {
  font-size: 30px;
  font-weight: bold;
  opacity: 1;
}

/* line 229, ../sass/partials/_desktop-layout.scss */
html.js .form-autocomplete {
  background-image: none;
}

/* line 233, ../sass/partials/_desktop-layout.scss */
#bodycontent {
  background-color: #b2e2f9;
  border-top: 20px #287eac solid;
}
/* line 236, ../sass/partials/_desktop-layout.scss */
#bodycontent .panel-pane.pane-page-content {
  width: 960px;
  margin: auto;
  padding: 20px 0;
}
/* line 240, ../sass/partials/_desktop-layout.scss */
#bodycontent .panel-pane.pane-page-content fieldset {
  padding: 10px;
  margin-top: 20px;
}
/* line 243, ../sass/partials/_desktop-layout.scss */
#bodycontent .panel-pane.pane-page-content fieldset legend {
  background-color: #666;
  color: #fff;
  margin-left: -20px;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
}
/* line 250, ../sass/partials/_desktop-layout.scss */
#bodycontent .panel-pane.pane-page-content fieldset legend a {
  color: #fff;
  text-decoration: none;
}
/* line 256, ../sass/partials/_desktop-layout.scss */
#bodycontent .panel-pane.pane-page-content input[type='submit'] {
  background-color: #a02484;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.21));
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border: 0;
  margin: 5px;
}
/* line 264, ../sass/partials/_desktop-layout.scss */
#bodycontent .panel-pane.pane-page-content input[type="file"], #bodycontent .panel-pane.pane-page-content input[type="text"] {
  background-color: #ddd;
  padding: 10px;
}
