// CORE CSS
* {
  margin:0;
  padding:0;
}

$blue: #2c95ce;
$orange: #f7941e;
// HIDE MOBILE
.pane-system-main-menu {
  display: none;
}


@mixin sponsor-purple() {
  background-color: #a02484;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.21), rgba(255,255,255,.21));
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.21), rgba(255,255,255,.21));
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.21), rgba(255,255,255,.21));
  background-image: linear-gradient(to top, rgba(0,0,0,.21), rgba(255,255,255,.21));
}

h2.pane-title {display: none;}

.inner {
  width:960px;
  margin:auto;
  position:relative;
}

header#header {
  background:url('../i/navbar_rpt.png') repeat-x #ac87be 0 0;
  border-bottom:10px solid #694879;
  .pane-superfish-1 {
    display: inline;
    height:65px;
    top:0;
    position: absolute;
    right:0;
    ul#superfish-1 {
      margin-top:0px;
      float:right;
      li:last-child {
        margin-right:0;
      }
      li.active-trail {
        a:first-child {
          background-color:$orange;
        }
      }
      li {
        float:left;
        display: inline;
        a {
          color:#fff;
          font-size:18px;
          text-transform: uppercase;
          text-decoration: none;
          padding:10px;
          height:32px;
          line-height: 30px;
        }
        a:hover,
        a.active{
          text-decoration: underline;
          background-color:$orange;
        }
        ul {
          background-color:#2c95ce;
          margin-top:11px;
          li {
            a {
              font-size:14px;
              text-transform: none;
              height:20px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  #event-date {
    width:351px;
    height:239px;
    background:url('../i/eventdate.png') no-repeat 0 0 transparent;
    text-indent: -999px;
    overflow: hidden;
    position: absolute;
    top:100px;
    right:0;
    z-index: 99;
  }
}

.not-front {
  #bodycontent {
    .pane-page-content {
      padding-top:50px!important;
      .pane-title {
        display: block;
      }
    }
  }
}

.pane-tweets {
  h2 {
    display: block;
  }
  .view-content {
    .views-row-last {
      margin-bottom: 0;
    }
    .views-row {
      margin-bottom: 10px;
      padding:10px;
      border-radius: 10px;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      background-color:#26739c;
      list-style-type:none;
      color:#fff;
      span.field-content {
        color:#fff;
        font-size:12px;
        a {
          font-weight: bold;
          text-decoration: none;
          color:#fff!important;
        }
      }
    }
  }
}

.front {
  #header {
    position: relative;
    background:url('../i/navbar_rpt.png') repeat-x #ac87be 0 0;
    .pane-page-logo {
      z-index: 999;
      position: absolute;
    }
    .pane-superfish-1{
      z-index: 99;
      background-color:#26739c;
      height:50px;
    }
    .pane-page-logo {
      z-index:10;
    }
    .pane-slideshows {
      z-index: 9;
      margin-left: -530px;
      margin-top: 0px;
      img {
      }
    }
  }
  .pane-hoempage-blocks {
    width:960px;
    margin:auto;
    .cta {
      height:200px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      a {
        font-family:'Ranchers';
        color:#fff;
        font-size:22px;
        font-weight:lighter;
        text-decoration: none;
        position: absolute;
        bottom:10px;
        left:10px;
        background:rgba(#26739c, 0.9);
        letter-spacing: 2px;
        width: 100%;
        padding:10px;
      }
      a:hover {
        background:rgba(#26739c, 1);
      }
    }
    #register-cta {
      background:url('../i/programme_cta.jpg') 0 0 no-repeat transparent;
    }
    #volunteer-cta {
      background:url('../i/bofs.jpg') 0 0 no-repeat transparent;
    }
    #session-cta {
      background:url('../i/session.jpg') -40px 0px no-repeat transparent;
    }
    #sprint-cta {
      background:url('../i/sprint.jpg') -40px 0px no-repeat transparent;
    }
    #social-cta {
      background:url('../i/social.jpg') -40px 0px no-repeat transparent;
    }
    #training-cta {
      background:url('../i/training.jpg') -40px 0px no-repeat transparent;
    }
  }
}


// PAGE BLOCKS
.pane-cod-sponsors {
  @include sponsor-purple;
}


#location-map {
  height:420px;
  width:100%;
  background: url("../i/city_uni.jpg") repeat-x black center -300px;
  float:left;
  display: block;
  position: relative;
  h2 {
    margin-left:20px;
  }
  #info-bar {
    position: absolute;
    bottom:0;
    height:150px;
    width:100%;
    background: rgba(#b2e2f9, 0.8);
    background-image: -webkit-linear-gradient(bottom, #fdb040, #f8941e);
    background-image: -moz-linear-gradient(bottom, #fdb040, #f8941e);
    background-image: -o-linear-gradient(bottom, #fdb040, #f8941e);
    background-image: linear-gradient(to top, #fdb040, #f8941e);
    //font-family: $bodyfont;
    color:#fff;
    padding-top:50px;
    p {
      font-size:30px;
      font-weight: bold;
      opacity: 1;
      line-height:40px;
    }
  }
}

html.js .form-autocomplete {
  background-image:none;
}

#bodycontent {
  background-color:#b2e2f9;
  border-top:20px #287eac solid;
.panel-pane.pane-page-content {
  width:960px;
  margin:auto;
  padding: 20px 0;
  fieldset {
    padding:10px;
    margin-top:20px;
    legend {
      background-color:#666;
      color:#fff;
      margin-left:-20px;
      margin-top:20px;
      padding:10px;
      font-weight:bold;
      a {
        color:#fff;
        text-decoration: none;
      }
    }
  }
  input[type='submit'] {
    @include  sponsor-purple();
    color:#fff;
    padding:10px;
    font-size:20px;
    border:0;
    margin:5px;
  }
  input[type="file"], input[type="text"], input[type="password"], input[type="email"], textarea, .cta {
    background-color: #6a467a;
    color:#fff;
    padding:10px;
    font-size:20px;
    border:0;
  }
}
}

.node-type-session .filter-wrapper {
  display: none;
}

footer {
  clear:both;
  background-color:#000;
  color:#fff;
  width:100%;
  font-size:12px;
  padding:10px 0;
  a {
    color:rgb(1, 204, 255);
  }
  #footer-left {
    width: 50%;
    float:left;
    display: inline;
  }
  #footer-right {
    width:50%;
    float:right;
    display: inline;
    #hosting {
      float: right;
      width: 172px;
      height: 50px;
      background: url("../i/powered_by_ac.png") 0 0 transparent no-repeat;
      text-indent: -999px;
      overflow: hidden;
      margin-top: 19px;
      background-size: 172px 30px;
    }
  }
}


table {
  width:100%;
  th {
    @include sponsor-purple;
    padding:10px;
    color:#fff;
  }
  tr, td {
    padding:5px;
  }
  tr {
    border-bottom: 1px dotted #333;
  }
  tr:first-child {
    border:0
  }
}

.page-user {
  .panel-twocol-63-37-stacked {
    .pane-custom {
      ul {
        margin-left: -8px;
        margin-bottom: 23px;
        float: left;
        li {
          list-style-type: none;
          padding:0;
          float:left;
          display: inline;
          margin-right:20px;
          a.cta {
            text-decoration: none;
          }
        }
      }
    }
  }
}

